*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/* khoi phuc lai co chu mac dinh theo rem */
body{
    font-size: 1.6rem;
     font-family: "Poppins";
}
/* ======common======= */
a{
    text-decoration: none;  
}
.btn{
display: inline-block;
padding: 0px 16px;
line-height: 50px;
color: #FFF;
font-size: 1.6rem;
font-weight: 600;
border-radius: 24.5px;
background: #171100;
min-width: 118px;
}
.main-content{
    width:1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
/* header */
.header{
    background: #ebe7de;
}
.header.fixed{
    position: sticky;
    top: -28px;
}
.header .bodyheader{
    display: flex;
    align-items: center;
    padding: 36px 0 8px; ;
}
.nav{
    margin-left: auto;
}
.nav ul{
    display: flex;
}
.nav a{
    position: relative;
    color: #5F5B53;
font-size: 1.6rem;
padding:8px 21px;
}
/* tac dong len the a la con cua nav khi chung ta di chuot vao */
.nav li.active a,.nav a:hover{
    
    color: #060502;
    /* font-size: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
header .btn-sign-up{
    min-width: 144px;
}
.header .action{
    margin-left: 49px;
}

